* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'New times Roman', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    background-color: #333;
    color: white;
}

.btn-add { background-color: #2ecc71; color: white; border: none; padding: 5px 10px; cursor: pointer; }
.btn-remove { background-color: #e74c3c; color: white; border: none; padding: 5px 10px; cursor: pointer; }
.card-buttons { display: flex; gap: 5px; padding: 10px; justify-content: center; }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Kartların genel kapsayıcısı */
.media-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* Taşmaları engellemek için */
    background: #fff;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}


.media-card img {
    width: 100%;       /* Kartın genişliğine yayıl */
    height: 350px;     /* Sabit yükseklik ver */
    object-fit: cover; /* Resmi bozmadan kırparak kutuya sığdırır */
    display: block;
}


.media-card h3, .media-card p {
    padding: 10px;
    margin: 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; 
    }
}
.detail-container {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

.detail-content {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.detail-content img {
    width: 300px;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .detail-content {
        flex-direction: column;
    }
}
